streamlit==1.35.0
streamlit-mic-recorder==0.0.5
google-cloud-speech==2.26.0
google-auth==2.31.0
groq>=0.6.1
python-dotenv==1.0.1
pandas==2.2.2
plotly==5.21.0
soundfile==0.12.1
numpy==1.25.2
typing-extensions==4.12.0
